@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&family=Lobster&family=Prompt:ital,wght@1,300&display=swap');
body {
    background-color: rgba(0, 0, 0, 1);
}
.container{
    text-align: center;
    margin: 25px;
    padding: 10px;
}
h2{
font-family: Encode Sans SC;
color: greenyellow;
}
p{
    font-family: Prompt;
    color: tomato;
    font-size: 20px;
}
.body
{
    display: inline-block;
    border: 4px solid pink;
    background-color: steelblue;
    padding: 10px;
    border-radius: 10px;
}

table 
{
    margin: auto;
}
input 
{
    background-color: white;
    font-size: 25px;
    border: 4px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 50px;
}
button 
{
    font-size: 25px;
    background-color: honeydew;
    width: 78px;
    height: 55px;
    border: 3px solid black;
    border-radius: 13px;
}

